@charset "UTF-8";

/*Telas Maiores*/
@media(min-width: 2559px){

    .nav-link{
        font-size: 1.7em;
    }

    .home::before{
        height: 55vh;
    }

    .gif{
        height: 55vh;
        margin-bottom: 0px;
    }
    #piguin{
        margin-top: 175px;
    }

    .paragraph{
        font-size: 2em;
    }

    .loc h2{
        font-size: 3em;
    }

    .titulo{
        font-size: 3.2em !important;
    }

    .reserva{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title{
        font-size: 5em;
    }

    label{
        font-size: 2em;
    }

    input{
        height: 80px !important;
        font-size: 2em !important;
    }
    
    .button{
        height: 130px;
        font-size: 2em;
    }

    footer{
        height: 110px;
        font-size: 2.2em !important;
    }
    
}

@media (max-width: 1260px) {
    .home::before{
        height: 92vh;
    }
}

@media(max-width: 1030px){
    .home::before{
        height: 66vh;
    }
}


/*Tablets*/
@media (max-width: 1030px) {
    
    header{
        display: flex;
        justify-content: space-between;
    }
    
    
    .home::before{
        height: 57vh;
    }
    
    
    #piguin{
        width:350px;
        height:300px;
        margin-top: 0px;
    }
    
    .gif{ 
        height: 45vh;
    }
    
    .content h2{
        font-size: 2.5em;
    }
    
    .content p{
        font-size: 2.5em;
    }
    
    .form-group{
        margin-bottom: 0px !important;
    }
    .button{
        margin-top: 5%;
    }
    .box-control{
    width: 85%;
}

    /* MUDANÇA GALERIA */
    .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 14%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width: 59%;
        margin: auto;
    }

}

@media (max-width: 900px) {
    .home::before{
        height: 65vh;
    }
}

@media (max-width: 768px) {
    .box-main{
        width: 45%; 
    }

    .home::before{
        height: 66vh;
    }

    .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 18%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width:72%;
        margin: auto;
    }

}



/*Celulares*/
@media (max-width: 750px) {
    .home{
        flex-direction: column;
        height: 100vh;
    }
    
    .home::before{
        height: 100vh;
    }
    
    .content{
        width: 380px;
        margin-bottom: -15px;
        margin-top: 60px;
    }

    #piguin{
        margin-top: 10px;
    }

    #icon-nav{
        height: 55px;
    }

     /* MUDANÇA GALERIA */
     .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 41%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width: 93%;
        margin: auto;
    }
}

@media (max-width: 567px) {
    .name{
        font-size: 0.5em;
    }

    #icon-nav{
        margin-top: 25px;
    }

    #piguin{
        width: 250px;
        height: 220px;
        margin-top: 10px;
    }


    #menu{
        font-size: 2em;
    }

    .facilidades{
        flex-direction: column;
    }

    .facilidades-rev{
        flex-direction: column;
    }

    .direita{
        padding: 2%;
        text-align: justify;
    }

    .esquerda img{
        width: 100%;
    }

    .box-main{
        width: 75%;
    }
    
}


/*Celulares pequenos*/

@media (max-width: 380px) {
    .content h2{
        font-size: 1.5em;
    }
    
    .content p{
        font-size: 1.5em;
    }

    .content{
        width: 70vw;
    }

    .gif{
        width: 40vw;
        height: 35vh;
    }

    #piguin{
        width:250px;
        height:200px;
    }

    .caixa{
        height: 575px;
    }
    
    .box-main{
        width: 85%;
    }
    footer{
        font-size: 0.9em;
    }

}